:root {
  --buy-now-btn-color:#142D71;
}

.buy-now-btn {
  background-color: var(--buy-now-btn-color);
  border-radius: 3px;
  color:#fff;

  width: 98px;
  height: 42px;
  border-color:transparent;
}

body {
  overflow-x:hidden;
}